* {
  ont-family: 'Work Sans', sans-serif;
  font-family: 'Yatra One', cursive;
}

body {
  background-color: black;
}

header {
  position: relative;
  height: 80px;
}

nav {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #282723;
  z-index: 3;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  list-style-type: none;
}

.menu_logo {
  margin-top: 10px;
  margin-left: -120px;
}

.menu_item {
  margin-top: 29px;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.menu_btn {
  width: 116px;
  height: 43px;
  color: white;
  border-color: white;
  margin-top: 17px;
  margin-right: -100px;
  background-color: #282723;
}

.corupted {
  height: 1029px;
  padding-top: 60px;
  background: url("../icons/bg/corrupted_bg.png") bottom no-repeat;
  background-size: 104%;
}

.corupted_header {
  font-weight: 400;
  font-size: 72px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.corupted_subheader {
  font-weight: 400;
  margin-top: 35px;
  font-size: 36px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.used {
  height: 990px;
  background: url("../icons/bg/used_tarot_bg.png") bottom no-repeat;
  background-size: 100%;
  padding-top: 147px;
}

.used_header {
  font-weight: 400;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
}

.used_subheader {
  font-weight: 500;
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.what {
  height: 1181px;
  padding-top: 100px;
  background: url("../icons/bg/group_tarot_bg.png") bottom no-repeat;
  background-size: 100%;
}

.what_header {
  font-weight: 400;
  font-size: 48px;
  line-height: 71px;
  text-align: center;
  color: #FFFFFF;
}

.what_subheader {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 12px;
}

.history {
  position: relative;
  height: 766px;
  padding: 193px 0 200px 0;
}

.history_header {
  font-weight: 400;
  font-size: 48px;
  line-height: 71px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 61px;
}

.history_subheader {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 70px;
}

.history_divider {
  position: absolute;
  width: 182px;
  height: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #FFFFFF;
}

.fivet {
  position: relative;
  min-height: 2800px;
}

.fivet_header {
  font-weight: 400;
  font-size: 48px;
  line-height: 71px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 27px;
}

.fivet_all {
  height: 630px;
  width: 1240px;
  left: 100px;
  background: rgba(34, 34, 34, 0.9);
  border: 3px solid #111111;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

.fivet_all.two {
  margin-top: 40px;
}

.fivet_all.three {
  height: 710px;
  width: 606px;
  margin-top: 40px;
}

.fivet_all.four {
  height: 710px;
  width: 606px;
  margin-left: 630px;
  margin-top: -696px;
}

.fivet_all.five {
  margin-top: 40px;
}

.fivet_body {
  border-color: white;
}

.fivet_img {
  margin-top: 10px;
}

.fivet_img.right {
  margin-left: 40px;
}

.fivet_img.bad {
  margin: 34px 0px 0px 11px;
}

.fivet_title {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 150px;
}

.fivet_title.bad {
  margin-top: 60px;
}

.fivet_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 78px;
}

.fivet_descr {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 30px;
  text-align: center;
}

.fivet_button {
  position: absolute;
  width: 182px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-top: 32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

span {
  color: rgba(0, 0, 0, 0.7);
}

.boby {
  position: relative;
  padding: 196px 0 202px 0;
}

.boby_img {
  display: block;
  margin: 0 auto;
}

.facts_header {
  font-size: 48px;
  line-height: 71px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 58px;
}

.facts_body {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 183px;
}

.facts_img {
  border: 3px solid #111111;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.facts_img.two {
  margin-top: 195px;
}

.buy {
  height: 810px;
  background: rgba(128, 128, 128, 0.61);
  border-radius: 3px;
  padding: 60px 0 72px 0;
}

.buy_img {
  position: absolute;
  display: block;
}

.buy_header {
  font-weight: 400;
  font-size: 48px;
  line-height: 71px;
  text-align: center;
  color: #FFFFFF;
}

.buy .col-8 {
  margin-top: 87px;
}

.buy .col-4 {
  margin-top: 135px;
}

.buy_button {
  width: 237px;
  height: 79px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-top: 72px;
}

li {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

footer {
  padding: 72px 0 29px 205px;
  height: 310px;
  background: #E1E1E1;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer_links {
  width: 390px;
  padding: 0 10px;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.footer_links a {
  color: #070716;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.footer_social {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer_social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 4px;
  margin-top: 14px;
  width: 35px;
  height: 35px;
}

.footer_text {
  font-weight: 600;
  font-size: 22px;
  color: #000000;
}

.footer_descr {
  margin-top: 73px;
}

ins {
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
}
/*# sourceMappingURL=style.css.map */